Repository matt-goldman/blake, changes with the labels that .github/labeler.yml gives for each.
All labels: Blake.Types, Blake.MarkdownParser, Blake.BuildTools, Blake.CLI, dependencies, enhancement

Update command line option for cleaning generated content to use shorthand '-cl'
  src/Blake.CLI/Program.cs
Labels: Blake.CLI, enhancement

Update command line option for cleaning generated content to use shorthand '-cl' (#20)
  src/Blake.CLI/Program.cs
Labels: Blake.CLI, enhancement

Update README and TemplateRegistry to enhance documentation and add new template details
  README.md
  TemplateRegistry.json
Labels: none

Update README and TemplateRegistry to enhance documentation and add new template details (#24)
  README.md
  TemplateRegistry.json
Labels: none

Fix typo in ShortName for Blake Docs template in TemplateRegistry.json
  TemplateRegistry.json
Labels: none

Fix typo in ShortName for Blake Docs template in TemplateRegistry.json (#26)
  TemplateRegistry.json
Labels: none

Generate copilot instructions for Blake project (#25)
  .github/copilot-instructions.md
Labels: none

Modernize README with prominent sample sites and engaging design (#28)
  README.md
Labels: none

🧪 Add comprehensive integration tests for Blake CLI commands and plugin system (#29)
  Blake.sln
  tests/Blake.IntegrationTests/Blake.IntegrationTests.csproj
  tests/Blake.IntegrationTests/Commands/BlakeBakeCommandTests.cs
  tests/Blake.IntegrationTests/Commands/BlakeCliGeneralTests.cs
  tests/Blake.IntegrationTests/Commands/BlakeInitCommandTests.cs
  tests/Blake.IntegrationTests/Commands/BlakeNewCommandTests.cs
  tests/Blake.IntegrationTests/Commands/BlakePluginTests.cs
  tests/Blake.IntegrationTests/Commands/BlakeServeCommandTests.cs
  tests/Blake.IntegrationTests/GlobalUsings.cs
  tests/Blake.IntegrationTests/Infrastructure/FileSystemHelper.cs
  tests/Blake.IntegrationTests/Infrastructure/TestFixtureBase.cs
  tests/Blake.IntegrationTests/TestPlugin/BlakePlugin.TestPlugin.csproj
  tests/Blake.IntegrationTests/TestPlugin/TestPlugin.cs
Labels: dependencies

Update README.md
  README.md
Labels: none

Update README.md (#30)
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md (#31)
  README.md
Labels: none

Fix HTTP client base address and update template registry path in TemplateService
  src/Blake.BuildTools/Services/TemplateService.cs
Labels: Blake.BuildTools, enhancement

Fix HTTP client base address and update template registry path in TemplateService (#33)
  src/Blake.BuildTools/Services/TemplateService.cs
Labels: Blake.BuildTools, enhancement

Update copilot-instructions.md
  .github/copilot-instructions.md
Labels: none

Update .github/copilot-instructions.md
  .github/copilot-instructions.md
Labels: none

Update copilot-instructions.md (#36)
  .github/copilot-instructions.md
Labels: none

Update PluginLoaderTests.cs
  tests/Blake.BuildTools.Tests/Utils/PluginLoaderTests.cs
Labels: none

:bug: Fix plugin dependency loading using AssemblyLoadContext (#35)
  src/Blake.BuildTools/Blake.BuildTools.csproj
  src/Blake.BuildTools/Utils/PluginLoadContext.cs
  src/Blake.BuildTools/Utils/PluginLoader.cs
  tests/Blake.BuildTools.Tests/Utils/PluginLoaderTests.cs
  tests/Blake.IntegrationTests/Commands/BlakePluginTests.cs
  tests/Blake.IntegrationTests/TestPluginWithDependencies/BlakePlugin.TestPluginWithDependencies.csproj
  tests/Blake.IntegrationTests/TestPluginWithDependencies/TestPluginWithDependencies.cs
Labels: Blake.BuildTools, dependencies, enhancement

Fix plugin dependency loading by using LoadFromAssemblyPath and modernize PluginLoadContext (#37)
  src/Blake.BuildTools/Utils/PluginLoadContext.cs
  src/Blake.BuildTools/Utils/PluginLoader.cs
  tests/Blake.IntegrationTests/TestPluginWithDependencies/BlakePlugin.TestPluginWithDependencies.csproj
  tests/Blake.IntegrationTests/TestPluginWithDependencies/TestPluginWithDependencies.cs
Labels: Blake.BuildTools, dependencies, enhancement

Update Razor templates and project structure for net9.0
  src/Blake.CLI/.generated/GeneratedContentIndex.cs
  tests/Blake.IntegrationTests/Commands/BlakeBakeCommandTests.cs
  tests/Blake.IntegrationTests/Infrastructure/FileSystemHelper.cs
  tests/BlakePlugin.TestPluginWithDependencies/BlakePlugin.TestPluginWithDependencies.csproj
  tests/BlakePlugin.TestPluginWithDependencies/TestPluginWithDependencies.cs
Labels: Blake.CLI, dependencies, enhancement

Update metadata handling in BlakeBakeCommandTests
  tests/Blake.IntegrationTests/Commands/BlakeBakeCommandTests.cs
  tests/Blake.IntegrationTests/Infrastructure/FileSystemHelper.cs
Labels: none

Rename markdown and Razor files; update template
  tests/Blake.IntegrationTests/Commands/BlakeBakeCommandTests.cs
Labels: none

Update Razor template and improve test clarity
  tests/Blake.IntegrationTests/Commands/BlakePluginTests.cs
Labels: none

Update tests and launch settings for Blake CLI
  src/Blake.CLI/Properties/launchSettings.json
  tests/Blake.IntegrationTests/Commands/BlakeBakeCommandTests.cs
Labels: Blake.CLI, enhancement

Added comments around additional tests
  tests/Blake.IntegrationTests/Commands/BlakeInitCommandTests.cs
  tests/Blake.IntegrationTests/Infrastructure/FileSystemHelper.cs
Labels: none

Refactor Program class initialization logic
  src/Blake.CLI/Program.cs
Labels: Blake.CLI, enhancement

Fixed incorrect filename in test
  tests/Blake.IntegrationTests/Commands/BlakeBakeCommandTests.cs
Labels: none

Enhance SiteGenerator and refactor project creation methods
  src/Blake.BuildTools/Generator/SiteGenerator.cs
  src/Blake.CLI/Program.cs
  src/Blake.CLI/Properties/launchSettings.json
  tests/Blake.IntegrationTests/Commands/BlakeInitCommandTests.cs
  tests/Blake.IntegrationTests/Commands/BlakePluginTests.cs
  tests/Blake.IntegrationTests/Commands/BlakeServeCommandTests.cs
  tests/Blake.IntegrationTests/Infrastructure/FileSystemHelper.cs
Labels: Blake.BuildTools, Blake.CLI, enhancement

Enhance logging and testing infrastructure
  src/Blake.CLI/Blake.CLI.csproj
  src/Blake.CLI/Program.cs
  tests/Blake.IntegrationTests/Commands/BlakeBakeCommandTests.cs
  tests/Blake.IntegrationTests/Commands/BlakeCliGeneralTests.cs
  tests/Blake.IntegrationTests/Commands/BlakeInitCommandTests.cs
  tests/Blake.IntegrationTests/Commands/BlakeNewCommandTests.cs
  tests/Blake.IntegrationTests/Commands/BlakePluginTests.cs
  tests/Blake.IntegrationTests/Commands/BlakeServeCommandTests.cs
  tests/Blake.IntegrationTests/Infrastructure/InMemoryLoggerProvider.cs
  tests/Blake.IntegrationTests/Infrastructure/TestFixtureBase.cs
Labels: Blake.CLI, dependencies, enhancement

Refactor BlakeInitCommandTests for command changes
  tests/Blake.IntegrationTests/Commands/BlakeInitCommandTests.cs
Labels: none

Enhance logging and improve test reliability
  src/Blake.CLI/Program.cs
  tests/Blake.IntegrationTests/Commands/BlakeNewCommandTests.cs
  tests/Blake.IntegrationTests/Infrastructure/TestFixtureBase.cs
Labels: Blake.CLI, enhancement

Refactor TemplateService and update BlakeNewCommandTests
  src/Blake.BuildTools/Services/TemplateService.cs
  tests/Blake.IntegrationTests/Commands/BlakeNewCommandTests.cs
Labels: Blake.BuildTools, enhancement

Refactor template serialization to use TemplateRegistry
  tests/Blake.IntegrationTests/Commands/BlakeNewCommandTests.cs
Labels: none

Add site name option and update test skip reason
  src/Blake.CLI/Program.cs
  tests/Blake.IntegrationTests/Commands/BlakeNewCommandTests.cs
Labels: Blake.CLI, enhancement

Improve .git directory handling and update tests
  src/Blake.BuildTools/Services/TemplateService.cs
  tests/Blake.IntegrationTests/Commands/BlakeNewCommandTests.cs
Labels: Blake.BuildTools, enhancement

Refactor BlakeNewCommandTests for template registry
  tests/Blake.IntegrationTests/Commands/BlakeNewCommandTests.cs
Labels: none

Refactor BlakeServeCommandTests for .NET CLI usage
  tests/Blake.IntegrationTests/Commands/BlakeServeCommandTests.cs
Labels: none

.github/labeler.yml:

Blake.Types:
  - changed-files:
      - any-glob-to-any-file: 'src/Blake.Types/**'

Blake.MarkdownParser:
  - changed-files:
      - any-glob-to-any-file: 'src/Blake.MarkdownParser/**'

Blake.BuildTools:
  - changed-files:
      - any-glob-to-any-file: 'src/Blake.BuildTools/**'

Blake.CLI:
  - changed-files:
      - any-glob-to-any-file: 'src/Blake.CLI/**'

dependencies:
  - changed-files:
      - any-glob-to-any-file: '**/*.csproj'
      - any-glob-to-any-file: '**/Directory.Packages.props'
      - any-glob-to-any-file: '**/packages.lock.json'

enhancement:
  - changed-files:
      - any-glob-to-any-file: 'src/**'
