Repository matt-goldman/blake, changes with the labels that .github/labeler.yml gives for each.
All labels: Blake.Types, Blake.MarkdownParser, Blake.BuildTools, Blake.CLI, dependencies, enhancement

Refactor Program and tests for improved resource management
  src/Blake.CLI/Program.cs
  tests/Blake.IntegrationTests/Commands/BlakeServeCommandTests.cs
  tests/Blake.IntegrationTests/Infrastructure/TestFixtureBase.cs
Labels: Blake.CLI, enhancement

Fix filename casing in BlakeNewCommandTests
  tests/Blake.IntegrationTests/Commands/BlakeNewCommandTests.cs
Labels: none

Enhance CI workflow to support 'norelease' label and adjust job conditions accordingly
  .github/workflows/ci.yml
Labels: none

Refactor debug registry handling in tests
  tests/Blake.IntegrationTests/Commands/BlakeNewCommandTests.cs
Labels: none

Refactor logging in Main and RunAsync methods
  src/Blake.CLI/Program.cs
Labels: Blake.CLI, enhancement

Refactor SetDirectoryWritable for recursion
  src/Blake.BuildTools/Services/TemplateService.cs
Labels: Blake.BuildTools, enhancement

Update tests/Blake.IntegrationTests/Commands/BlakeServeCommandTests.cs
  tests/Blake.IntegrationTests/Commands/BlakeServeCommandTests.cs
Labels: none

Fix Blake test functionality: resolve plugin loading and template API issues (#39)
  .github/copilot-instructions.md
  .github/workflows/ci.yml
  packages-microsoft-prod.deb
  src/Blake.BuildTools/Generator/SiteGenerator.cs
  src/Blake.BuildTools/Services/TemplateService.cs
  src/Blake.BuildTools/Utils/PluginLoadContext.cs
  src/Blake.CLI/.generated/GeneratedContentIndex.cs
  src/Blake.CLI/Blake.CLI.csproj
  src/Blake.CLI/Program.cs
  src/Blake.CLI/Properties/launchSettings.json
  tests/Blake.BuildTools.Tests/Utils/PluginLoaderTests.cs
  tests/Blake.IntegrationTests/Blake.IntegrationTests.csproj
  tests/Blake.IntegrationTests/Commands/BlakeBakeCommandTests.cs
  tests/Blake.IntegrationTests/Commands/BlakeCliGeneralTests.cs
  tests/Blake.IntegrationTests/Commands/BlakeInitCommandTests.cs
  tests/Blake.IntegrationTests/Commands/BlakeNewCommandTests.cs
  tests/Blake.IntegrationTests/Commands/BlakePluginTests.cs
  tests/Blake.IntegrationTests/Commands/BlakeServeCommandTests.cs
  tests/Blake.IntegrationTests/Infrastructure/FileSystemHelper.cs
  tests/Blake.IntegrationTests/Infrastructure/InMemoryLoggerProvider.cs
  tests/Blake.IntegrationTests/Infrastructure/TestFixtureBase.cs
  tests/Blake.IntegrationTests/TestPlugin/TestPlugin.cs
Labels: Blake.BuildTools, Blake.CLI, dependencies, enhancement

All plugin tests now passing, apart from the one currently expected to fail (for the issue that needs resolving)
  tests/Blake.IntegrationTests/Commands/BlakePluginTests.cs
Labels: none

Plugin with dependencies test now working
  tests/Blake.IntegrationTests/Commands/BlakePluginTests.cs
  tests/Blake.IntegrationTests/TestPluginWithDependencies/TestPluginWithDependencies.cs
Labels: none

Add GitHub Actions workflow for PR tests
  .github/workflows/pr-tests.yml
Labels: none

Enhance PR test workflow: set timeout and enable detailed test output
  .github/workflows/pr-tests.yml
Labels: none

Fix Razor template formatting in tests
  tests/Blake.IntegrationTests/Commands/BlakeServeCommandTests.cs
Labels: none

Add Blazor app initialization to test suite
  tests/Blake.IntegrationTests/Commands/BlakeServeCommandTests.cs
Labels: none

Add using directive for OptionsTest.Components
  tests/Blake.IntegrationTests/Commands/BlakeServeCommandTests.cs
Labels: none

Add CancellationToken support to async methods
  src/Blake.BuildTools/Generator/ProjectFileBuilder.cs
  src/Blake.BuildTools/Generator/SampleContentBuilder.cs
  src/Blake.BuildTools/Generator/SiteGenerator.cs
  src/Blake.BuildTools/Services/ITemplateService.cs
  src/Blake.BuildTools/Services/TemplateService.cs
  src/Blake.BuildTools/Utils/PluginLoader.cs
  src/Blake.CLI/Program.cs
  tests/Blake.IntegrationTests/Infrastructure/TestFixtureBase.cs
Labels: Blake.BuildTools, Blake.CLI, enhancement

Enhance logging and standardize command execution
  src/Blake.CLI/Program.cs
  tests/Blake.IntegrationTests/Commands/BlakeServeCommandTests.cs
Labels: Blake.CLI, enhancement

Increase timeout for PR tests and simplify test verbosity
  .github/workflows/pr-tests.yml
Labels: none

Fix plugin loading dependencies (#40)
  .github/workflows/pr-tests.yml
  src/Blake.BuildTools/Generator/ProjectFileBuilder.cs
  src/Blake.BuildTools/Generator/SampleContentBuilder.cs
  src/Blake.BuildTools/Generator/SiteGenerator.cs
  src/Blake.BuildTools/Services/ITemplateService.cs
  src/Blake.BuildTools/Services/TemplateService.cs
  src/Blake.BuildTools/Utils/PluginLoader.cs
  src/Blake.CLI/Program.cs
  tests/Blake.IntegrationTests/Commands/BlakePluginTests.cs
  tests/Blake.IntegrationTests/Commands/BlakeServeCommandTests.cs
  tests/Blake.IntegrationTests/Infrastructure/TestFixtureBase.cs
  tests/Blake.IntegrationTests/TestPluginWithDependencies/TestPluginWithDependencies.cs
Labels: Blake.BuildTools, Blake.CLI, enhancement

Enhance failure logging and resilience in content generation process
  src/Blake.BuildTools/Generator/ContentIndexBuilder.cs
  src/Blake.BuildTools/Generator/SiteGenerator.cs
  src/Blake.CLI/Program.cs
Labels: Blake.BuildTools, Blake.CLI, enhancement

Enhance error handling and tag processing
  src/Blake.BuildTools/Generator/ContentIndexBuilder.cs
  src/Blake.BuildTools/Generator/GeneratorOptions.cs
  src/Blake.BuildTools/Generator/SiteGenerator.cs
  src/Blake.CLI/Program.cs
Labels: Blake.BuildTools, Blake.CLI, enhancement

Enhance failure logging and resilience in content generation process (#43)
  src/Blake.BuildTools/Generator/ContentIndexBuilder.cs
  src/Blake.BuildTools/Generator/GeneratorOptions.cs
  src/Blake.BuildTools/Generator/SiteGenerator.cs
  src/Blake.CLI/Program.cs
Labels: Blake.BuildTools, Blake.CLI, enhancement

Refactor folder retrieval logic to improve clarity and maintainability
  src/Blake.BuildTools/Generator/SiteGenerator.cs
Labels: Blake.BuildTools, enhancement

Update src/Blake.BuildTools/Generator/SiteGenerator.cs
  src/Blake.BuildTools/Generator/SiteGenerator.cs
Labels: Blake.BuildTools, enhancement

Refactor folder retrieval logic to improve clarity and maintainability (#46)
  src/Blake.BuildTools/Generator/SiteGenerator.cs
Labels: Blake.BuildTools, enhancement

Fix preview label not creating pre-release NuGet packages (#47)
  .github/workflows/ci.yml
Labels: none

Optimize PluginLoader to check DLLs before running dotnet restore (#52)
  src/Blake.BuildTools/Utils/PluginLoader.cs
  tests/Blake.BuildTools.Tests/Utils/PluginLoaderTests.cs
Labels: Blake.BuildTools, enhancement

Improve exception handling in IsNuGetPluginValid to prevent unnecessary restores (#56)
  src/Blake.BuildTools/Utils/PluginLoader.cs
  tests/Blake.BuildTools.Tests/Utils/PluginLoaderTests.cs
Labels: Blake.BuildTools, enhancement

Add image handling and dimension parsing to renderer
  assets/blake.png
  src/Blake.MarkdownParser/ImageCaptionRenderer.cs
Labels: Blake.MarkdownParser, enhancement

Add image handling and dimension parsing to renderer (#57)
  assets/blake.png
  src/Blake.MarkdownParser/ImageCaptionRenderer.cs
Labels: Blake.MarkdownParser, enhancement

Add raw HTML to context for access by plugins
  src/Blake.BuildTools/BlakeContext.cs
  src/Blake.BuildTools/Generator/SiteGenerator.cs
Labels: Blake.BuildTools, enhancement

Add raw HTML to context for access by plugins (#58)
  src/Blake.BuildTools/BlakeContext.cs
  src/Blake.BuildTools/Generator/SiteGenerator.cs
Labels: Blake.BuildTools, enhancement

Update README.md
  README.md
Labels: none

Update links in README for template and plugin sections
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Fix readme links (#63)
  README.md
Labels: none

Fix version comparison in PluginLoader to prevent false positives (#55)
  src/Blake.BuildTools/Utils/PluginLoader.cs
  src/Blake.BuildTools/Utils/VersionUtils.cs
  tests/Blake.BuildTools.Tests/Utils/PluginLoaderTests.cs
Labels: Blake.BuildTools, enhancement

Enhance `blake new content` scaffolding with core-based logic, frontmatter-aware templating, and CI-stable tests (#65)
  README.md
  src/Blake.BuildTools/Generator/ContentScaffolder.cs
  src/Blake.BuildTools/Generator/SiteGenerator.cs
  src/Blake.BuildTools/Utils/FrontmatterHelper.cs
  src/Blake.CLI/Program.cs
  tests/Blake.BuildTools.Tests/Utils/FrontmatterHelperTests.cs
  tests/Blake.IntegrationTests/Commands/BlakeBakeCommandTests.cs
  tests/Blake.IntegrationTests/Commands/BlakeNewCommandTests.cs
Labels: Blake.BuildTools, Blake.CLI, enhancement

Add target path logic to serve
  src/Blake.CLI/Program.cs
Labels: Blake.CLI, enhancement

remove datestamp from content scaffold
  src/Blake.BuildTools/Generator/ContentScaffolder.cs
Labels: Blake.BuildTools, enhancement

.github/labeler.yml:

Blake.Types:
  - changed-files:
      - any-glob-to-any-file: 'src/Blake.Types/**'

Blake.MarkdownParser:
  - changed-files:
      - any-glob-to-any-file: 'src/Blake.MarkdownParser/**'

Blake.BuildTools:
  - changed-files:
      - any-glob-to-any-file: 'src/Blake.BuildTools/**'

Blake.CLI:
  - changed-files:
      - any-glob-to-any-file: 'src/Blake.CLI/**'

dependencies:
  - changed-files:
      - any-glob-to-any-file: '**/*.csproj'
      - any-glob-to-any-file: '**/Directory.Packages.props'
      - any-glob-to-any-file: '**/packages.lock.json'

enhancement:
  - changed-files:
      - any-glob-to-any-file: 'src/**'
