Repository matt-goldman/blake, changes with the labels that .github/labeler.yml gives for each.
All labels: Blake.Types, Blake.MarkdownParser, Blake.BuildTools, Blake.CLI, dependencies, enhancement

Fix logo in readme (svg url and pointing to url
  README.md
Labels: none

Fix logo in readme (svg url and pointing to url (#5)
  README.md
Labels: none

Fix emoji bullets in README
  README.md
Labels: none

Fix emoji bullets in README (#6)
  README.md
Labels: none

Update reusable publish workflow reference to use the main branch
  .github/workflows/ci.yml
Labels: none

Update reusable publish workflow reference to use the main branch (#7)
  .github/workflows/ci.yml
Labels: none

Refactor CI workflow to streamline publish job and remove nuget_key input
  .github/workflows/ci.yml
  .github/workflows/reusable-publish.yml
Labels: none

Refactor CI workflow to streamline publish job and remove nuget_key input (#8)
  .github/workflows/ci.yml
  .github/workflows/reusable-publish.yml
Labels: none

Refactor publish job in CI workflow to remove reusable workflow and streamline steps
  .github/workflows/ci.yml
  .github/workflows/reusable-publish.yml
Labels: none

Update .github/workflows/ci.yml
  .github/workflows/ci.yml
Labels: none

Refactor publish job in CI workflow to remove reusable workflow (#9)
  .github/workflows/ci.yml
  .github/workflows/reusable-publish.yml
Labels: none

Add build step before packing project in CI workflow
  .github/workflows/ci.yml
Labels: none

Refactor CI workflow to implement reusable publish steps for project packaging and deployment
  .github/workflows/ci.yml
  .github/workflows/reusable-publish.yml
Labels: none

Update .github/workflows/reusable-publish.yml
  .github/workflows/reusable-publish.yml
Labels: none

Update .github/workflows/reusable-publish.yml
  .github/workflows/reusable-publish.yml
Labels: none

Add build step before packing project in CI workflow (#10)
  .github/workflows/ci.yml
  .github/workflows/reusable-publish.yml
Labels: none

Remove breaking change committed by copilot
  .github/workflows/reusable-publish.yml
Labels: none

Remove breaking change committed by copilot (#11)
  .github/workflows/reusable-publish.yml
Labels: none

Update CI workflow dependencies and improve wait message in reusable publish workflow
  .github/workflows/ci.yml
  .github/workflows/reusable-publish.yml
Labels: none

Fix broken build (#12)
  .github/workflows/ci.yml
  .github/workflows/reusable-publish.yml
Labels: none

Add Microsoft.Extensions.Logging.Console package
  src/Blake.CLI/Blake.CLI.csproj
Labels: Blake.CLI, dependencies, enhancement

Add Microsoft.Extensions.Logging.Console package (#13)
  src/Blake.CLI/Blake.CLI.csproj
Labels: Blake.CLI, dependencies, enhancement

Update README.md to enhance project visibility with NuGet version badges and GitHub workflow status
  README.md
Labels: none

Update README.md to enhance project visibility with NuGet version badges and GitHub workflow status (#14)
  README.md
Labels: none

Remove template.razor and add cascading-template.razor
  src/Blake.BuildTools/Generator/ProjectFileBuilder.cs
Labels: Blake.BuildTools, enhancement

Remove template.razor and add cascading-template.razor (#15)
  src/Blake.BuildTools/Generator/ProjectFileBuilder.cs
Labels: Blake.BuildTools, enhancement

Add structured logging using Microsoft.Extensions.Logging
  src/Blake.BuildTools/Generator/ProjectFileBuilder.cs
  src/Blake.BuildTools/Generator/SampleContentBuilder.cs
  src/Blake.BuildTools/Generator/SiteGenerator.cs
  src/Blake.BuildTools/Services/ITemplateService.cs
  src/Blake.BuildTools/Services/TemplateService.cs
  src/Blake.BuildTools/Utils/PluginLoader.cs
  src/Blake.MarkdownParser/Blake.MarkdownParser.csproj
  src/Blake.MarkdownParser/DefaultContainerExtension.cs
  src/Blake.MarkdownParser/DefaultContainerRenderer.cs
  src/Blake.MarkdownParser/MarkdigExtensions.cs
  src/Blake.MarkdownParser/SafeContainerParser.cs
Labels: Blake.MarkdownParser, Blake.BuildTools, dependencies, enhancement

Update src/Blake.BuildTools/Services/TemplateService.cs
  src/Blake.BuildTools/Services/TemplateService.cs
Labels: Blake.BuildTools, enhancement

Update src/Blake.BuildTools/Utils/PluginLoader.cs
  src/Blake.BuildTools/Utils/PluginLoader.cs
Labels: Blake.BuildTools, enhancement

Update src/Blake.BuildTools/Services/TemplateService.cs
  src/Blake.BuildTools/Services/TemplateService.cs
Labels: Blake.BuildTools, enhancement

Update src/Blake.BuildTools/Generator/SampleContentBuilder.cs
  src/Blake.BuildTools/Generator/SampleContentBuilder.cs
Labels: Blake.BuildTools, enhancement

Update src/Blake.BuildTools/Services/TemplateService.cs
  src/Blake.BuildTools/Services/TemplateService.cs
Labels: Blake.BuildTools, enhancement

Add structured logging using Microsoft.Extensions.Logging (#16)
  src/Blake.BuildTools/Generator/ProjectFileBuilder.cs
  src/Blake.BuildTools/Generator/SampleContentBuilder.cs
  src/Blake.BuildTools/Generator/SiteGenerator.cs
  src/Blake.BuildTools/Services/ITemplateService.cs
  src/Blake.BuildTools/Services/TemplateService.cs
  src/Blake.BuildTools/Utils/PluginLoader.cs
  src/Blake.MarkdownParser/Blake.MarkdownParser.csproj
  src/Blake.MarkdownParser/DefaultContainerExtension.cs
  src/Blake.MarkdownParser/DefaultContainerRenderer.cs
  src/Blake.MarkdownParser/MarkdigExtensions.cs
  src/Blake.MarkdownParser/SafeContainerParser.cs
Labels: Blake.MarkdownParser, Blake.BuildTools, dependencies, enhancement

Add missing logger parameter in SiteGenerator for LoadPlugins
  src/Blake.BuildTools/Generator/SiteGenerator.cs
Labels: Blake.BuildTools, enhancement

Add missing logger parameter in SiteGenerator for LoadPlugins (#17)
  src/Blake.BuildTools/Generator/SiteGenerator.cs
Labels: Blake.BuildTools, enhancement

Add Clean option to GenerationOptions and update SiteGenerator
  src/Blake.BuildTools/Generator/GeneratorOptions.cs
  src/Blake.BuildTools/Generator/SiteGenerator.cs
  src/Blake.CLI/Program.cs
Labels: Blake.BuildTools, Blake.CLI, enhancement

Resolve bug where missing markdown files continue to next folder at parent level without checking children
  src/Blake.BuildTools/Generator/SiteGenerator.cs
Labels: Blake.BuildTools, enhancement

Update src/Blake.BuildTools/Generator/GeneratorOptions.cs
  src/Blake.BuildTools/Generator/GeneratorOptions.cs
Labels: Blake.BuildTools, enhancement

Update src/Blake.BuildTools/Generator/SiteGenerator.cs
  src/Blake.BuildTools/Generator/SiteGenerator.cs
Labels: Blake.BuildTools, enhancement

Dx tweaks (#18)
  src/Blake.BuildTools/Generator/GeneratorOptions.cs
  src/Blake.BuildTools/Generator/SiteGenerator.cs
  src/Blake.CLI/Program.cs
Labels: Blake.BuildTools, Blake.CLI, enhancement

.github/labeler.yml:

Blake.Types:
  - changed-files:
      - any-glob-to-any-file: 'src/Blake.Types/**'

Blake.MarkdownParser:
  - changed-files:
      - any-glob-to-any-file: 'src/Blake.MarkdownParser/**'

Blake.BuildTools:
  - changed-files:
      - any-glob-to-any-file: 'src/Blake.BuildTools/**'

Blake.CLI:
  - changed-files:
      - any-glob-to-any-file: 'src/Blake.CLI/**'

dependencies:
  - changed-files:
      - any-glob-to-any-file: '**/*.csproj'
      - any-glob-to-any-file: '**/Directory.Packages.props'
      - any-glob-to-any-file: '**/packages.lock.json'

enhancement:
  - changed-files:
      - any-glob-to-any-file: 'src/**'
