Repository matt-goldman/blake, changes with the labels that .github/labeler.yml gives for each.
All labels: Blake.Types, Blake.MarkdownParser, Blake.BuildTools, Blake.CLI, dependencies, enhancement

.github/labeler.yml:

Blake.Types:
  - changed-files:
      - any-glob-to-any-file: 'src/Blake.Types/**'

Blake.MarkdownParser:
  - changed-files:
      - any-glob-to-any-file: 'src/Blake.MarkdownParser/**'

Blake.BuildTools:
  - changed-files:
      - any-glob-to-any-file: 'src/Blake.BuildTools/**'

Blake.CLI:
  - changed-files:
      - any-glob-to-any-file: 'src/Blake.CLI/**'

dependencies:
  - changed-files:
      - any-glob-to-any-file: '**/*.csproj'
      - any-glob-to-any-file: '**/Directory.Packages.props'
      - any-glob-to-any-file: '**/packages.lock.json'

enhancement:
  - changed-files:
      - any-glob-to-any-file: 'src/**'

Upgrade to .NET 10 and update all paclages
  Blake.sln
  Blake.slnx
  src/Blake.BuildTools/Blake.BuildTools.csproj
  src/Blake.BuildTools/Utils/PluginLoader.cs
  src/Blake.CLI/Blake.CLI.csproj
  src/Blake.MarkdownParser/Blake.MarkdownParser.csproj
  src/Blake.Types/Blake.Types.csproj
  tests/Blake.BuildTools.Tests/Blake.BuildTools.Tests.csproj
  tests/Blake.BuildTools.Tests/Utils/PluginLoaderTests.cs
  tests/Blake.IntegrationTests/Blake.IntegrationTests.csproj
  tests/Blake.IntegrationTests/Commands/BlakeInitCommandTests.cs
  tests/Blake.IntegrationTests/Commands/BlakePluginTests.cs
  tests/Blake.IntegrationTests/Infrastructure/FileSystemHelper.cs
  tests/Blake.IntegrationTests/Infrastructure/TestFixtureBase.cs
  tests/Blake.IntegrationTests/TestPlugin/BlakePlugin.TestPlugin.csproj
  tests/Blake.IntegrationTests/TestPluginWithDependencies/BlakePlugin.TestPluginWithDependencies.csproj
Labels: Blake.Types, Blake.MarkdownParser, Blake.BuildTools, Blake.CLI, dependencies, enhancement

Code cleanup and removed unused namespaces
  src/Blake.BuildTools/Services/TemplateService.cs
  src/Blake.BuildTools/Utils/PluginLoader.cs
  tests/Blake.BuildTools.Tests/Utils/PluginLoaderTests.cs
  tests/Blake.IntegrationTests/Commands/BlakeCliGeneralTests.cs
  tests/Blake.IntegrationTests/Commands/BlakeInitCommandTests.cs
  tests/Blake.IntegrationTests/Commands/BlakeNewCommandTests.cs
  tests/Blake.IntegrationTests/Commands/BlakeServeCommandTests.cs
Labels: Blake.BuildTools, enhancement

Improve plugin loader to use Nuget.Frameworks and FindNearest
  src/Blake.BuildTools/Blake.BuildTools.csproj
  src/Blake.BuildTools/Utils/PluginLoader.cs
Labels: Blake.BuildTools, dependencies, enhancement

Upgrade (#66)
  Blake.sln
  Blake.slnx
  src/Blake.BuildTools/Blake.BuildTools.csproj
  src/Blake.BuildTools/Services/TemplateService.cs
  src/Blake.BuildTools/Utils/PluginLoader.cs
  src/Blake.CLI/Blake.CLI.csproj
  src/Blake.MarkdownParser/Blake.MarkdownParser.csproj
  src/Blake.Types/Blake.Types.csproj
  tests/Blake.BuildTools.Tests/Blake.BuildTools.Tests.csproj
  tests/Blake.BuildTools.Tests/Utils/PluginLoaderTests.cs
  tests/Blake.IntegrationTests/Blake.IntegrationTests.csproj
  tests/Blake.IntegrationTests/Commands/BlakeCliGeneralTests.cs
  tests/Blake.IntegrationTests/Commands/BlakeInitCommandTests.cs
  tests/Blake.IntegrationTests/Commands/BlakeNewCommandTests.cs
  tests/Blake.IntegrationTests/Commands/BlakePluginTests.cs
  tests/Blake.IntegrationTests/Commands/BlakeServeCommandTests.cs
  tests/Blake.IntegrationTests/Infrastructure/FileSystemHelper.cs
  tests/Blake.IntegrationTests/Infrastructure/TestFixtureBase.cs
  tests/Blake.IntegrationTests/TestPlugin/BlakePlugin.TestPlugin.csproj
  tests/Blake.IntegrationTests/TestPluginWithDependencies/BlakePlugin.TestPluginWithDependencies.csproj
Labels: Blake.Types, Blake.MarkdownParser, Blake.BuildTools, Blake.CLI, dependencies, enhancement

Add missing dependency
  src/Blake.BuildTools/Services/TemplateService.cs
Labels: Blake.BuildTools, enhancement

Add missing dependency (#67)
  src/Blake.BuildTools/Services/TemplateService.cs
Labels: Blake.BuildTools, enhancement
